<fieldset style="float: left; border: 1px solid; padding: 2px; margin: 2px;">
    <legend style="font-size:10px;display:block;">Assigned</legend>
    <div style="font-size:12px;">@ViewBag.Assigned</div>
</fieldset>
<fieldset style="float: left; border: 1px solid; padding: 2px; margin: 2px;">
    <legend style="font-size:10px;display:block;">Accepted</legend>
    <div style="font-size:12px;">@ViewBag.Accepted</div>
</fieldset>
<fieldset style="float: left; border: 1px solid; padding: 2px; margin: 2px;">
    <legend style="font-size:10px;display:block;">Rejected</legend>
    <div style="font-size:12px;">@ViewBag.Rejected</div>
</fieldset>